<div class="row">
  <div class="col-md-6">
    <a routerLink="/" href="#" class="btn btn-link" >
      <i class="fa fa-arrow-circle-o-left"></i>Back to Dashboard
    </a>
  </div>
  <div class="col-md-6"></div>
</div>
<div class="card">
  <h3 class="card-header">
    Edit Settings
  </h3>
  <div class="card-body">
    <form (submit)="onSubmit()" >
      <div class="form-group">
        <label>Allow Registration</label>
        <input type="checkbox" name="allowRegistration" [checked]="settings.allowRegistration" (change)="settings.allowRegistration = !settings.allowRegistration" >
      </div>

      <div class="form-group">
        <label>Disable Balance On Add</label>
        <input type="checkbox" name="disableBalanceOnAdd" [checked]="settings.disableBalanceOnAdd" (change)="settings.disableBalanceOnAdd = !settings.disableBalanceOnAdd" >
     </div>

     <div class="form-group">
       <label>Disable on Edit</label>
       <input type="checkbox" name="disableOnEdit" [checked]="settings.disableOnEdit" (change)="settings.disableOnEdit = !settings.disableOnEdit" >      
     </div>
     <input type="submit" value="submit" class="btn btn-primary btn-blck">
    </form>
  </div>
</div>
